html,
body {
    height: 100%;
    margin: 0 auto;
}
/* 
.container {
    margin-top: 1%;
} */
video{
    background-color: black;
}
.input_field {
    text-align: center;
    margin-top: 10px;
}

input {
    width: 20%;
}