html,
body {
    height: 100%;
    margin: 0 auto;
}

#title {
    height: 100%;
}

video {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}



#Taitanic_icon {
    margin-top: 10px;
    height: 50%;
}

#article {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 50%;
}

.dragon_pic_contain {

    padding: 10px;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#answer {

    padding: 10px;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.dragon_pic {
    width: 30%;
    opacity: 1;
    z-index: 1;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
}



.sel_6_t {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 178px;
}



#down_arrow {
    position: absolute;
    top: 2000px;
    left: 42.5%;
    height: 178px;
    opacity: 1;
    z-index: 1;
}